http:// {
	@rekuest path /rekuest*
	handle @rekuest { 
		reverse_proxy rekuest:80
	}

	@kabinet path /kabinet*
	handle @kabinet { 
		reverse_proxy kabinet:80
	}

	@mikro path /mikro*
	handle @mikro { 
		reverse_proxy mikro:80
	}

	@fluss path /fluss*
	handle @fluss { 
		reverse_proxy fluss:80
	}

	@lok path /lok*
	handle @lok { 
		reverse_proxy lok:80
	}

	@kraph path /kraph*
	handle @kraph { 
		reverse_proxy kraph:80
	}

	@stealthy-cyan-rhinoceros path /stealthy-cyan-rhinoceros*
	handle @stealthy-cyan-rhinoceros { 
		reverse_proxy minio:9000
	}

	@grumpy-smalt-civet path /grumpy-smalt-civet*
	handle @grumpy-smalt-civet { 
		reverse_proxy minio:9000
	}

	@hazy-pink-mouse path /hazy-pink-mouse*
	handle @hazy-pink-mouse { 
		reverse_proxy minio:9000
	}

	@snippy-fuchsia-eagle path /snippy-fuchsia-eagle*
	handle @snippy-fuchsia-eagle { 
		reverse_proxy minio:9000
	}

	@snoopy-purple-akita path /snoopy-purple-akita*
	handle @snoopy-purple-akita { 
		reverse_proxy minio:9000
	}

	@frumpy-charcoal-weasel path /frumpy-charcoal-weasel*
	handle @frumpy-charcoal-weasel { 
		reverse_proxy minio:9000
	}

	@wiggy-zucchini-coyote path /wiggy-zucchini-coyote*
	handle @wiggy-zucchini-coyote { 
		reverse_proxy minio:9000
	}

	@crabby-sapphire-alligator path /crabby-sapphire-alligator*
	handle @crabby-sapphire-alligator { 
		reverse_proxy minio:9000
	}

	@.well-known path /.well-known/*
	handle @.well-known {
		rewrite * /lok{uri}
		reverse_proxy lok:80
	}

	@minio path /minio/*
	handle @minio {
		reverse_proxy minio:9000
	}

}
